<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <h1> UNTREF School</h1>
        <nav>
            <li><a href="#quienes">¿Quiénes somos?</a></li>
            <li><a href="#elegirnos">¿Por qué elegirnos?</a></li>
            <li><a href="#propuesta">Propuesta educativa</a></li>
            <li><a href="#noticias">Últimas noticias</a></li>
            <li><a href="">Contacto</a></li> <!-- Este va en otro documento -->
        </nav>
    </header>
        
    <main>
        <section id="quienes">

        </section>

        <section id="elegirnos">

        </section>

        <section id="propuesta">

        </section>

        <section id="noticias">

        </section>


    </main>

    <footer>

    </footer>

</body>
</html>